@{
    ViewBag.RequireJsBundles = new string[] { "jstree-lookup2-js", "jstree-static-js" };
}
@using Grit.Utility.Web.Json
@Styles.Render("~/Content/jstree/themes/proton/style")
<h2>@ViewBag.Title</h2>
@section styles {
    <style>
        .lookup_container .form-control {
            margin-bottom: 10px;
        }

        .js-lookup {
            display: none;
        }
    </style>
}
@section scripts {
    <script>
    require(['jquery', 'bootstrap', 'jstree-lookup2-js', 'jstree-static-js'],
    function ($, bootstrap, lookup, treeStatic) {
        $(document).ready(function () {
            lookup.AddTree(@Constants.PERMISSION_TREE_ID, @Html.Json(@ViewBag.Tree as object));
            lookup.BindLookup($('#demo1'), @Constants.PERMISSION_TREE_ID, true);
            lookup.BindLookup($('#demo2'), @Constants.PERMISSION_TREE_ID);
            lookup.BindLookup($('#demo3'), @Constants.PERMISSION_TREE_ID, true, true);
            lookup.BindLookup($('#demo10'), @Constants.PERMISSION_TREE_ID, false, true);
            lookup.BindFlatLookup($('#demo6'), @Constants.PERMISSION_TREE_ID);

            $('#demo1').bind('blur', function () {
                $('#demo1_label').text($(this).val());
            }).blur();
            $('#demo2').bind('blur', function () {
                $('#demo2_label').text($(this).val());
            }).blur();
            $('#demo3').bind('blur', function () {
                $('#demo3_label').text($(this).val());
            }).blur();
            $('#demo10').bind('blur', function () {
                $('#demo10_label').text($(this).val());
            }).blur();
            $('#demo6').bind('blur', function () {
                $('#demo6_label').text($(this).val());
            }).blur();

            lookup.AddJsTree(@Constants.PERMISSION_TREE_ID, @Html.Json(@ViewBag.jsTree as object));
            lookup.BindJsTree($('#demo12'), @Constants.PERMISSION_TREE_ID);
            $('#demo12').bind('blur', function () {
                $('#demo12_label').text($(this).val());
            }).blur();
        });
    });
</script>
}
<form class="form-horizontal">
    <div class="row">
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Select leaves
                <span id="demo1_label"></span>
            </label>
            <div class="col-sm-4">
                <input type="text" class="js-lookup" value="4" id="demo1" />
            </div>
        </div>

        <hr />
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Select branches and leaves
                <span id="demo2_label"></span>
            </label>
            <div class="col-sm-4">
                <input type="text" class="js-lookup" value="7" id="demo2" />
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Select leaves(hide)
                <span id="demo3_label"></span>
            </label>
            <div class="col-sm-4">
                <input type="text" class="js-lookup" value="9" id="demo3" />
            </div>
        </div>

        <hr />
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Select branches and leaves(hide)
                <span id="demo10_label"></span>
            </label>
            <div class="col-sm-4">
                <input type="text" class="js-lookup" value="9" id="demo10" />
            </div>
        </div>

        <hr />
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Drop down list
                <span id="demo6_label"></span>
            </label>
            <div class="col-sm-4">
                <input type="text" class="js-flot-lookup form-control" value="9" id="demo6" />
            </div>
        </div>
        <hr />

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Tree
                <span id="demo12_label"></span>
            </label>
            <div class="col-sm-4">
                <input type="text" class="js-tree form-control" value="4" id="demo12" />
            </div>
    </div>
</form>