@{
    ViewBag.RequireJsBundles = new string[] { "jstree-static-js" };
}
@using Grit.Utility.Web.Json
@Styles.Render("~/Content/jstree/themes/proton/style")
@section scripts {
    <script>
        require(['jquery', 'bootstrap', 'jstree-static-js'],
            function ($, bootstrap, treeStatic) {
                $(document).ready(function () {
                    var roleTreeApp = treeStatic($('#ctl_role_tree'), @Html.Json(@ViewBag.Tree as object));
                    var permissionTreeApp = null;
                    roleTreeApp.treeControl.on('select_node.jstree', function (e, data) {
                        var found = roleTreeApp.tree.get_node(data.selected[0]).data.content;
                        $.getJSON('@Url.Action("Permission")/' + found)
                        .done(function(data) {
                            if(permissionTreeApp != null) {
                                permissionTreeApp.tree.destroy();
                            }
                            permissionTreeApp = treeStatic($('#ctl_permission_tree'), data);
                        });
                    }).on('deselect_node.jstree', function (e, data) {
                        if(permissionTreeApp != null) {
                            permissionTreeApp.tree.destroy();
                        }
                    });
                });
            });
    </script>
}

@section subnav {
    @Html.ActionLink("Grouping Roles", "Group", null, new { @class = "btn btn-default navbar-btn" })
    @Html.ActionLink("Mapping Roles & Permissions ", "Map", null, new { @class = "btn btn-default navbar-btn" })
}

<div class="row">
    <div class="col-md-6">
        <h4>Roles</h4>
        <div id="ctl_role_tree"></div>
    </div>
    <div class="col-md-6">
        <h4>Corresponding Permissions</h4>
        <div id="ctl_permission_tree"></div>
    </div>
</div>

