@{
    ViewBag.RequireJsBundles = new string[] { "jstree-static-js" };
}
@using Grit.Utility.Web.Json
@Styles.Render("~/Content/jstree/themes/proton/style")
@section scripts {
    <script>
        require(['jquery', 'bootstrap', 'jstree-static-js'],
            function ($, bootstrap, treeStatic) {
                $(document).ready(function () {
                    var subjectTreeApp = treeStatic($('#ctl_subject_tree'), @Html.Json(@ViewBag.Tree as object));
                    var roleTreeApp = null;
                    var permissionTreeApp = null;
                    subjectTreeApp.treeControl.on('select_node.jstree', function (e, data) {
                        var found = subjectTreeApp.tree.get_node(data.selected[0]).data.content;
                        $.getJSON('@Url.Action("Role")/' + found)
                            .done(function(data) {
                                if(roleTreeApp != null) {
                                    roleTreeApp.tree.destroy();
                                }
                                roleTreeApp = treeStatic($('#ctl_role_tree'), data);
                            });
                        $.getJSON('@Url.Action("Permission")/' + found)
                            .done(function(data) {
                                if(permissionTreeApp != null) {
                                    permissionTreeApp.tree.destroy();
                                }
                                permissionTreeApp = treeStatic($('#ctl_permission_tree'), data);
                            });
                    }).on('deselect_node.jstree', function (e, data) {
                        if(roleTreeApp != null) {
                            roleTreeApp.tree.destroy();
                        }
                        if(permissionTreeApp != null) {
                            permissionTreeApp.tree.destroy();
                        }
                    });

                    $("#btn_map").on('click', function(){
                        var selected = subjectTreeApp.tree.get_top_selected();
                        if(selected.length == 0) return false;
                        var found = subjectTreeApp.tree.get_node(selected).data.content;
                        window.location.href = "/Subject/RolePermission/" + found;
                    });
                });
            });
    </script>
}

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            @Html.ActionLink("Group", "Group", null, new { @class = "btn btn-default navbar-btn" })
            <button type="button" class="btn btn-default navbar-btn" id="btn_map">Roles & Permissions</button>
        </div>
    </div>
</nav>

<div class="row">
    <div id="ctl_subject_tree" class="col-md-4"></div>
    <div id="ctl_role_tree" class="col-md-4"></div>
    <div id="ctl_permission_tree" class="col-md-4"></div>
</div>

