@{
    ViewBag.RequireJsBundles = new string[] { "jstree-static-js" };
}
@using Grit.Utility.Web.Json
@Styles.Render("~/Content/jstree/themes/proton/style")
@section scripts {
    <script>
        require(['jquery', 'bootstrap', 'jstree-static-js'],
            function ($, bootstrap, treeStatic) {
                $(document).ready(function () {
                    var subjectTreeApp = treeStatic($('#ctl_subject_tree'), @Html.Json(@ViewBag.Tree as object));
                    var roleTreeApp = null;
                    var directPermissionTreeApp = null;
                    var permissionTreeApp = null;
                    subjectTreeApp.treeControl.on('select_node.jstree', function (e, data) {
                        var found = subjectTreeApp.tree.get_node(data.selected[0]).data.content;
                        $.getJSON('@Url.Action("Role")/' + found)
                            .done(function(data) {
                                if(roleTreeApp != null) {
                                    roleTreeApp.destroy();
                                }
                                roleTreeApp = treeStatic($('#ctl_role_tree'), data);
                            });
                        $.getJSON('@Url.Action("DirectPermission")/' + found)
                            .done(function(data) {
                                if(directPermissionTreeApp != null) {
                                    directPermissionTreeApp.destroy();
                                }
                                directPermissionTreeApp = treeStatic($('#ctl_direct_permission_tree'), data);
                            });
                        $.getJSON('@Url.Action("Permission")/' + found)
                            .done(function(data) {
                                if(permissionTreeApp != null) {
                                    permissionTreeApp.destroy();
                                }
                                permissionTreeApp = treeStatic($('#ctl_permission_tree'), data);
                            });

                    }).on('deselect_node.jstree', function (e, data) {
                        if(roleTreeApp != null) {
                            roleTreeApp.destroy();
                        }
                        if(directPermissionTreeApp != null) {
                            directPermissionTreeApp.destroy();
                        }
                        if(permissionTreeApp != null) {
                            permissionTreeApp.destroy();
                        }
                    });

                    $("#btn_map").on('click', function(){
                        var selected = subjectTreeApp.tree.get_top_selected();
                        if(selected.length == 0) { 
                            showMessage('Please select a subject');
                            return false;
                        }
                        var found = subjectTreeApp.tree.get_node(selected).data.content;
                        window.location.href = "/Subject/RolePermission/" + found;
                    });
                });
            });
    </script>
}

@section subnav {
    @Html.ActionLink("Grouping Subjects", "Group", null, new { @class = "btn btn-default navbar-btn" })
    <button type="button" class="btn btn-default navbar-btn" id="btn_map">Assign Roles & Permissions</button>
}

<div class="row">
    <div class="col-md-3">
        <h4>Subjects</h4>
        <div id="ctl_subject_tree"></div>
    </div>
    <div class="col-md-3">
        <h4>Corresponding Roles</h4>
        <div id="ctl_role_tree"></div>
    </div>
    <div class="col-md-3">
        <h4>Corresponding Permissions</h4>
        <div id="ctl_direct_permission_tree"></div>
    </div>
    <div class="col-md-3">
        <h4>Combined Permissions</h4>
        <div id="ctl_permission_tree"></div>
    </div>
</div>

