@{
    ViewBag.RequireJsBundles = new string[] { "jstree-select-js" };
}
@using Grit.Utility.Web.Json
<link href="~/Content/jstree/themes/proton/style.css" rel="stylesheet" />
@section scripts {
    <script>
        require(['jquery', 'bootstrap', 'jstree-select-js'],
        function ($, bootstrap, treeSelect) {
            $(document).ready(function () {
                showMessage('Assign roles or directly assign permissions to subject');
                var roleTree = treeSelect($('#ctl_tree_role'), @Html.Json(@ViewBag.RoleTree as object));
                var permissionTree = treeSelect($('#ctl_tree_permission'), @Html.Json(@ViewBag.PermissionTree as object));
                $("#btn_save").on('click', function(){
                    var data = [roleTree.data(), permissionTree.data()];
                    $.ajax({
                        url: '@Url.Action("RolePermission", "Subject", new { id = ViewBag.Subject.SubjectId })',
                        type: 'POST',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        processData: false,
                        contentType: 'application/json; charset=utf-8'
                    }).done(function (data) {
                        showMessage('Saved successfully');
                    }).fail(function (data) {
                        showMessage('Failed to save');
                    }).always(function (data) {
                    });
                });
            });
        });
    </script>
}
@section subnav {
    <p class="navbar-text">@ViewBag.Subject.Name</p>
}

@section subnav_right {
    <button type="button" class="btn btn-default navbar-btn" id="btn_save">Save</button>
}

<div class="row">
    <div class="col-md-6">
        <h4>Corresponding Roles</h4>
        <div id="ctl_tree_role"></div>
    </div>
    <div class="col-md-6">
        <h4>Corresponding Permissions</h4>
        <div id="ctl_tree_permission"></div>
    </div>
</div>


