@using Grit.Utility.Web.Json
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.RequireJsBundles = new string[] { "jstree-map-js" };
}
@section styles {
<link href="~/Content/jstree/themes/proton/style.css" rel="stylesheet" />
}
<h2>@ViewBag.Title</h2>
@section scripts {
    <script>
    require(['jquery', 'bootstrap', 'jstree-map-js'],
        function ($, bootstrap, app) {
            $(document).ready(function () {
                app.init($('#ctl_tree_left'), $('#ctl_tree_right'),
                    @Html.Json(@ViewBag.LeftTree as object),
                        @Html.Json(@ViewBag.RightTree as object));
                $("#btn_save").on('click', function(){
                        $.ajax({
                            url: "@Url.Action("Map")",
                            type: 'POST',
                            data: JSON.stringify(app.data()),
                            dataType: 'json',
                            processData: false,
                            contentType: 'application/json; charset=utf-8'
                        }).done(function (data) {
                            gMessage('保存成功','alert-success');
                        }).fail(function (data) {
                            gMessage('保存失败','alert-danger');
                        });
                    });
                });
            });
    </script>
}
@Html.Partial("Message")
<button type="button" class="btn btn-default" id="btn_save">Save</button>
<div class="row">
    
    <div id="ctl_tree_left" class="col-sm-6"></div>
    <div id="ctl_tree_right" class="col-sm-6"></div>
</div>

