@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <h2>Tree</h2>
        <p>Grit.RBAC.Demo.Web</p>
        
        @Html.ActionLink("Group Permissions", "Group", new { id = 8 }, new { @class = "btn btn-default" })
        @Html.ActionLink("Group Roles", "Group", new { id = 7 }, new { @class = "btn btn-default" })
        @Html.ActionLink("Map", "Map", null, new { @class = "btn btn-default" })
        
        @Html.ActionLink("Static", "Static", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Lookup", "Lookup", null, new { @class = "btn btn-default" })
    </div>
</div>