@{
    ViewBag.Title = "Map";
    ViewBag.RequireJsBundles = new string[] { "jstree-map-js" };
}
@using Grit.Utility.Web.Extensions
<h2>@ViewBag.Title.</h2>

<link href="~/Content/jstree/themes/proton/style.css" rel="stylesheet" />
@section scripts {
    <script>
        require(['jquery', 'bootstrap', 'jstree-map-js'],
            function ($, bootstrap, app) {
                $(document).ready(function () {
                    app.init($('#ctl_tree_left'), $('#ctl_tree_right'),
                        @Html.Json(@ViewBag.LeftTree as object),
                        @Html.Json(@ViewBag.RightTree as object));
                    $("#btn_save").on('click', function(){
                        $.ajax({
                            url: "/Home/Map",
                            type: 'POST',
                            data: JSON.stringify(app.data()),
                            dataType: 'json',
                            processData: false,
                            contentType: 'application/json; charset=utf-8'
                        }).done(function (data) {
                        }).fail(function (data) {
                        }).always(function (data) {
                        });
                    });
                });
            });
    </script>
}
<div class="row">
    <button type="button" class="btn btn-default pull-right" id="btn_save">Save</button>
</div>
<div class="row">
    <div id="ctl_tree_left" class="col-md-6"></div>
    <div id="ctl_tree_right" class="col-md-6"></div>
</div>


